<!DOCTYPE html>
<html>
<head>
	<title>Data Encryption & Decryption App</title>
    <meta charset="UTF-8">
    <meta name="author" content="Boobalan">
    <meta name="description" content="This will give the home page">
    <meta http-equiv="content-security-policy" content="default-src 'self'">
    <link href="static/styles/home.css" rel="stylesheet"/>
</head>
<body>

	<header>
		<h1>IDCDP(Information Disclosure Control Data Prevention)</h1>
		<nav>
			<ul>
				<li><a href="/home">Home</a></li>
				{% if is_admin %}
				<li><a href="/user">Users</a></li>
				{% endif %}
				<li><a href="/send">Share Files</a></li>
				<li><a href="/active">Active Users</a></li>
				<li><a href="/files">Files</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>Hello {{ name }}</h1>
		<h1>Data Encryption &amp; Decryption App</h1>
		<p>Securely encrypt and decrypt your sensitive data with this easy-to-use application.</p>
		<a href="#" class="button">Get Started</a>
		<section>
			<h2>How it works</h2>
			<p>Simply enter your text or upload a file, choose your encryption method, and click "Encrypt" to secure your data. To decrypt, just upload your encrypted file and click "Decrypt".</p>
			<p>Our application uses state-of-the-art encryption algorithms to ensure the highest level of security for your data. You can also customize your encryption settings to further enhance your data security.</p>
			<p>Try it out today and keep your sensitive data safe and secure.</p>
		</section>
	</main>
	<footer>
		<p>&copy; Boobalan &amp; &reg; Boobalan.</p>
	</footer>
</body>
</html>
